<ul>
<li>ID: @Model.GetId()</li>
<li>Name: @Model.GetName()</li>
<li>Country Code: @Model.GetCountryCode()</li>
<li>District: @Model.GetDistrict()</li>
<li>Population: @Model.GetPop()</li>
<br>
</ul>
